@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --site-header-height: 5.5rem;
    --collection-header-height: 8.875rem;
    --collection-header-folded-height: 6.375rem;
    --collection-footer-height: 2.5rem;
    --radius: 0.75rem;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 209, 39%, 96%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210, 40%, 98%;
    --secondary: 214.3 31.8% 91.4%;
    --secondary-foreground: 215, 16%, 46%;
    --muted: 214.3 31.8% 91.4%;
    --muted-foreground: 215, 16%, 46%;
    --accent: 214.3 31.8% 91.4%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0;
    --destructive-foreground: ;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 47.4% 11.2%;
  }

  .dark {
    --accent-foreground: 0 0% 100%;
    --accent: 215, 24%, 26%;
    --background: 0 0% 0%;
    --border: 217.2 32.6% 17.5%;
    --card-foreground: 210, 40%, 98%;
    --card: 222.2 47.4% 11.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --foreground: 210, 40%, 98%;
    --input: 217.2 32.6% 17.5%;
    --muted-foreground: 215, 20%, 65%;
    --muted: 217.2 32.6% 17.5%;
    --popover-foreground: 210, 40%, 98%;
    --popover: 0 0% 0%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --primary: 0 0% 100%;
    --ring: 0 0% 100%;
    --secondary-foreground: 215, 20%, 65%;
    --secondary: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
